# standard Python package manager
pip==21.0.1

# base dependencies
numpy==1.19.5
scipy==1.5.4

# tool to automatically change version number in the package upon release
bumpversion==0.6.0

# build wheels for the package
wheel==0.36.2

# standard package to produce coverage from test runs
coverage==5.4

# visualization of reports from coverage
codecov==2.1.11

# used to upload wheels and sources to PyPI
twine==3.3.0

# main doc tool
Sphinx==3.4.3

# base theme for the documentation website
sphinx-rtd-theme==0.5.1

# pinned in order to fix this issue: https://readthedocs.org/projects/scikit-network/builds/11876754/
Pygments==2.7.4

# used to produce doc from Jupyter notebooks (aka. tutorials)
nbsphinx==0.8.1

# used to run Jupyter notebooks (necessary for nbsphinx)
ipython==7.16.1
jupyter_client==6.1.11
ipykernel==5.4.3
pandas==1.1.5

# tests on Linux images (upon release)
nose==1.3.7

# main test packages
pytest-runner==5.2
pytest==6.2.2
pytest-cov==2.11.1

# C++ code generator for performance speed-up
cython==0.29.21

