pip==20.0.2
bumpversion==0.5.3
wheel==0.34.2
Sphinx==3.0.1
coverage==5.0.4
twine==3.1.1
nbsphinx==0.6.0
ipython==7.13.0
jupyter_client==6.1.2
ipykernel==5.2.0
codecov==2.0.22
matplotlib==3.2.1
sphinx-rtd-theme==0.4.3
nose

pytest-runner==5.2
pytest==5.4.1
pytest-cov==2.8.1

cython==0.29.16
