# Taken from https://cibuildwheel.readthedocs.io/en/stable/setup/

name: Wheels build

on: [pull_request, workflow_dispatch]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.16.5
        env:
          CIBW_PLATFORM: auto
          CIBW_ARCHS: auto64
          CIBW_SKIP: cp*-musllinux*
          CIBW_ARCHS_MACOS: x86_64 arm64
          CIBW_BUILD_VERBOSITY: 3
          CIBW_BEFORE_BUILD: "pip install -r requirements_dev.txt && pip install ."
          CIBW_BEFORE_BUILD_MACOS: "pip install -r requirements_dev.txt && pip install ."
          CIBW_BUILD: cp39-* cp310-* cp311-* cp312-*

      - uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.os }}-${{ matrix.python-version }}
          path: wheelhouse

  build_sdist:
      name: Build source distribution
      runs-on: ubuntu-latest
      steps:
          -   uses: actions/checkout@v4

          -   uses: actions/setup-python@v5
              name: Install Python
              with:
                  python-version: '3.9'

          -   name: Build sdist
              run: |
                python -m pip install --upgrade pip
                python -m pip install -r requirements_dev.txt
                python setup.py sdist

          -   uses: actions/upload-artifact@v4
              with:
                  path: dist/*.tar.gz
